<div class="reactive">
  <h5>Reactive</h5>
  <form [formGroup]="form">
   <div class="form-control">
     <p class="label">Name</p>
     <input formControlName="name">
   </div>

    <div class="form-group" formGroupName="address">
      <div class="form-control">
        <p class="label">City</p>
        <input formControlName="city">
      </div>

      <div class="form-control">
        <p class="label">State</p>
        <input formControlName="state">
      </div>

      <div class="form-control">
        <p class="label">Country</p>
        <input formControlName="country">
      </div>
    </div>
  </form>
  <button (click)="patchValue()" mat-flat-button>Patch</button>
</div>

<div class="template">
  <h5>Template Driven</h5>

    <div class="form-control">
     <p class="label">Name</p>
     <input  [(ngModel)]="proxy.name">
   </div>


  <div class="form-control">
    <p class="label">Address</p>
    <input  [(ngModel)]="proxy.address">
  </div>


  <div class="form-control">
    <p class="label">Country</p>
    <input [(ngModel)]="proxy.gender">
  </div>

</div>
