
:host{
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


input{
  outline: none !important;
  border: 1px #b1b0b0 solid;
}

.reactive{
  width: 40%;
  height: 70%;
  border: 1px gray solid;
}

.template{
  width: 40%;
  height: 70%;
  border: 1px gray solid;
}

.root-component{
  width: 60%;
  height: 70%;
  padding: 20px;


}
